.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure it stays on top of other elements */
    background-color: purple;
    align-items: center;
}

.navbarHeader {
    display: inline;
    color: white;
    margin-left: 10px;
}

.navbarLogo {
    width: fit-content;
    left: 0;
}