#root {
  width: 100%;
  height: 100%;
  padding: 22% 0;
  margin: 0 auto;
  text-align: center;
  background-image: url('underArrangement.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; /* Prevents the image from repeating */
}

/* src/styles/fonts.css or your App.css */
@font-face {
  font-family: 'NoContinue';
  src: url('./assets/fonts/NoContinue-Regular.tff') format('tff');
  font-weight: normal;
  font-style: normal;
}

/* Example to apply the font globally */
body {
  font-family: 'NoContinue', sans-serif;
}